<?xml version="1.0"?>

<model>
  <name>Charuco</name>
  <version>1.0</version>
  <sdf version="1.6">charuco.sdf</sdf>

  <author>
    <name>Pedro Arias-Perez</name>
    <email>pedro.ariasp@upm.es</email>
  </author>

  <description>
    Box with a charuco board on one face.
  </description>
</model>
